body{
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
}

.cuadro{
    display: flex;
    width: 390px;
    height: 40%;
    background-color: rgb(222, 222, 222);
}

.Imagen1{
    display: flex;
    width: 33rem;
    height: 32rem;
    margin-left: 3rem;
    margin-top: 1rem;
    
}



.caja{
    width: 100%;
    height: 5rem;
}

.circulo{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(59, 176, 176);
    border-radius: 100%;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 2rem;
    margin-left: 17rem;
}
.circulo1{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(59, 176, 176);
    border-radius: 100%;
    margin-left: 19.5rem;
    margin-top: -1.5rem;
}
.circulo2{
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(59, 176, 176);
    border-radius: 100%;
    margin-top: -1.5rem;
    margin-left: 22rem;
}

.texto{
    font-family: sans-serif;
    font-size:25px;
    color: rgb(73, 72, 72);
    text-decoration: none;
    margin-left: 3rem;
    margin-top: 2rem;
}

.texto1{
    font-family: sans-serif;
    font-size:18px;
    color: gray;
    text-decoration: none;
    margin-left: 3rem;
    margin-top: 2rem;
}

.cajitas{
    width: 390px;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: -2rem;
}




.like{
    width: 12rem;
    height: 3.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0.2rem;
    border-color: gray;
   
}
.comentario{
    width: 14rem;
    height: 3.5rem;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.3rem;
    font-size: 15px;
    outline: none;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0.2rem;
    border-color: gray;
    
}

.like img{
    height: 2.4rem;
    width: 2.4rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}

.comentario img{
    height: 2.4rem;
    width: 2.4rem;
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}

.like p{
    margin-top: 0.6rem;
    margin-left: 0.3rem;
    color: gray;
}

.comentario p{
    margin-top: 0.6rem;
    margin-left: 0.3rem;
    color: gray;
}

.palabras{
    width: 300px;
    height: 20rem;
    margin-left: 3rem;
    margin-top: 2rem;
}

.palabras p{
    font-size: large;
    color: gray;
}


.barra{
    width: 390px;
    height: 3.2rem;
    position: sticky;
    bottom: 0rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(180, 177, 177);
    margin-top: 5rem;
}





.casita, .lupa, .buscador, .comentar, .notificaciones{
    width: 6rem;
    height: 3.2rem;
    text-align: center;
    padding-top: 0.6rem;
 
}

.casita img, .lupa img, .buscador img, .comentar img, .notificaciones img{
    width: 2rem;
    height: 2rem;
    margin: 1;
}